{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>The Team</h1><br>
    <div class="row">
    <div class="col-sm-4">
        <div class="caption">
            <div class="caption-text text-primary">
                <h4>Harris Mendell - hbm2qc</h4>
            </div>
        </div>
        <img class="img-circle team"src="/static/img/harris.jpg">
    </div>
    <div class="col-sm-4">
            <div class="caption">
                <div class="caption-text text-primary">
                    <h4>Corrigan Blanchfield - ccb2p</h4>
                </div>
            </div>
            <img class="img-circle team" src="/static/img/corrigan.jpg">
    </div>
    <div class="col-sm-4">
            <div class="caption">
                <div class="caption-text text-primary">
                    <h4>Sam Moore - sam5ez</h4>
                </div>
            </div>
            <img class="img-circle team" src="/static/img/sam.jpg">
    </div>
  </div>
</div>
{% endblock %}