
<html lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rewind</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- more css -->
    <link rel= "stylesheet" type= "text/css" href= "/static/css/main.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../static/rewind.js"> </script>
  </head>

  <body>

    <div class="site-wrapper">
      <nav id="nav" class="navbar navbar-default navbar-static-top">
        <div class="container">
          <ul class="nav masthead-nav">
            <li class = "menuitem"><a href="/">About</a></li>
            <li class = "menuitem"><a href="/shop">Shop</a></li>
            <li class = "menuitem"><a href="">Labels</a></li>
            <li class = "menuitem"><a href="">Contact</a></li>
            {% if current_user.is_anonymous %}
            <li class = "menuitem"><a href="/signup">Sign Up</a></li>
            <li class = "menuitem"><a href="/login">Log In</a></li>
            {% endif %}
            {% if (current_user.is_active == True) and (current_user.is_authenticated == True) %}
            <li class = "menuitem"><a href="/logout">Log Out</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      {% block content %}
      {% endblock %}
    </div>
  </body>