{% extends "layout.html" %}

  <body>
      {%  block content %}
      <div class="contrainer">
	      <div class="inner cover">
	         <img id="logo" src="/static/img/logo.png">
	        <p id="tagline"class="lead">Fund the records you want to buy. </p>
	        <p id="tagline" style="color: black">Miss records that are long out of print? Check out our store.  <br> Every record guarunteed to be repressed if enough people claim it. Be part of history!</p>
	      </div>
	  </div>
      {%  endblock %}


  </body>