{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
          <h2>Contribute a blog post</h2>
          <form method="POST" name="contribute" action="{{ url_for('blog') }}">
            <label>Title</label><input type="text" name="blog_title" placeholder="Blog post 1">
           <div class="form-group">
              <textarea class="form-control" rows="5" id="blog_body" name="blog_body" placeholder="Enter blog post here"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
    </div>

{% endblock %}