{% extends "layout.html" %}
{% block content %}
 <link rel= "stylesheet" type= "text/css" href= "/static/css/shop.css">

<div class="container">
   <h1>Check out the records the world misses most.</h1>
  <div class="row">
    <div class="col-sm-4">
        <div class="thumbnail">
            <div class="caption">
                <div class="caption-text">
                    <h4>{{ records[0][0] }} - {{ records[0][1] }}</h4>
                    <p>Price: {{ records[0][2] }}</p>
                    <p>Currently interested: {{ records[0][3] }}/{{ records[0][4]}}</p>
                    <p><a href="/record/1" class="label label-danger" rel="tooltip" title="Zoom">Check it out</a>
                </div>
            </div>
            <img src="/static/img/lemuriaGetBetter.jpg">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <div class="caption">
                <div class="caption-text">
                    <h4>{{ records[1][0] }} - {{ records[1][1] }}</h4>
                    <p>Price: {{ records[1][2] }}</p>
                    <p>Currently interested: {{ records[1][3] }}/{{ records[1][4]}}</p>
                    <p><a href="/record/2" class="label label-danger" rel="tooltip" title="Zoom">Check it out</a>
                </div>
            </div>
            <img src="/static/img/crookedRain.jpg">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <div class="caption">
                <div class="caption-text">
                    <h4>{{ records[2][0] }} - {{ records[2][1] }}</h4>
                    <p>Price: {{ records[2][2] }}</p>
                    <p>Currently interested: {{ records[2][3] }}/{{ records[2][4]}}</p>
                    <p><a href="/record/3" class="label label-danger" rel="tooltip" title="Zoom">Check it out</a>
                </div>
            </div>
            <img src="/static/img/moon.jpg">
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"><img class ="img-thumbnail" src="/static/img/cerulean.jpg"></div>
    <div class="col-sm-4"><img class ="img-thumbnail" src="/static/img/elliotSmith.jpg"></div>
    <div class="col-sm-4"><img class ="img-thumbnail" src="/static/img/speedyOrtiz.jpg"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"><img class ="img-thumbnail" src="/static/img/nwa.jpg"></div>
    <div class="col-sm-4"><img class ="img-thumbnail" src="/static/img/ickyMettle.jpg"></div>
    <div class="col-sm-4"><img class ="img-thumbnail" src="/static/img/pinkerton.jpg"></div>
  </div>
</div>

<nav>
  <ul class="pagination pagination-lg">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}