{% extends "layout.html" %}
{% block content %}
 <link rel= "stylesheet" type= "text/css" href= "/static/css/shop.css">

<div class="container">
   <h1>Checkout the world's most wanted records.</h1>
  <div class="row">
    <div class="col-sm-4">
        <div class="thumbnail">
            <div class="caption">
                <div class="caption-text">
                    <h4>Lemuria - Get Better</h4>
                    <p>Current Price: $10.87</p>
                    <p>Currently interested: 429</p>
                    <p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Check it out</a>
                </div>
            </div>
            <img src="/static/img/lemuriaGetBetter.jpg">
        </div>
    </div>
    <div class="col-sm-4"><img class ="img-thumbnail" src="/static/img/wicb.jpg"></div>
    <div class="col-sm-4"><img class ="img-thumbnail" src="/static/img/moon.jpg"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"><img class ="img-thumbnail" src="/static/img/crookedRain.jpg"></div>
    <div class="col-sm-4"><img class ="img-thumbnail" src="/static/img/elliotSmith.jpg"></div>
    <div class="col-sm-4"><img class ="img-thumbnail" src="/static/img/speedyOrtiz.jpg"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"><img class ="img-thumbnail" src="/static/img/nwa.jpg"></div>
    <div class="col-sm-4"><img class ="img-thumbnail" src="/static/img/ickyMettle.jpg"></div>
    <div class="col-sm-4"><img class ="img-thumbnail" src="/static/img/pinkerton.jpg"></div>
  </div>
</div>

<nav>
  <ul class="pagination pagination-lg">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}